*{
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

a{
  text-decoration: none;
}

.main-header{
  text-align: center;
}

.container{
  text-align: center;
}

input[type="text"]{
  width:60%;
  padding: 10px;
  margin:5px;
}

#name{
  width: 54%;
  display:block;
  margin:auto;
}

#holder{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top:50px;
}

#transaction h4,
#input{
  width:100%;
}

h4{
  margin: 10px;
}
#input{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.user{
  width:90%;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px 0;
}

.selected{
  box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.25);
}

#transaction{
  width:90%;
  margin: 25px 5% 0 5%;
  border: 1px solid navy;
  border-radius: 15px;
  padding: 5px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button {
  padding: 5px 25px;
  margin:10px 0;
  background-color: #FFFFFF;
  border: 1px solid navy;
  border-radius:15px;
}

.user button{
  margin: 0 10px 10px 10px;
  background-color: #FFFFFF;
  border:none;
  margin-top:0.75em;
}

#undo{
  height:30px;
  margin-left: 10px;
}

.user input[type="text"]{
  font-size:1.5em;
  padding:0;
  border:1px dashed black;
  margin-top: 0.75em;
  text-align: center;
  height:29px;
}

.user h2{
  padding-top:0.75em;
  margin:0;
}

.transaction-list{
  display:none;
  width:80%;
  margin:auto;
  border-top: 1px solid black;
}

@media(min-width: 41em){
  .user{
    width:40%;
    margin: 10px;
  }

  .user button{
    padding: 15px;
  }

  #transaction{
    width:60%;
    margin: 25px auto;
  }
}

@media(min-width: 50em){
  #input input[type="text"]{
    width: 40%;
  }

  #input{
    flex-direction: row;
    justify-content: center;
  }
}

@media(min-width: 75em){
  .user{
    width: 30%;
  }
  #transaction{
    width: 40%;
  }

  #input input[type="text"]{
    width:25%;
  }

}