*{
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/*#split{
  width: 5%;
  margin: 10px 0 10px 0;
}*/


a{
  text-decoration: none;
}

body{
  background-color: #f2f2f2;
}
.main-nav{
  background-color: #6995CA;
}

.menu-bar{
  text-align: right;
  background-color: #D1D1D1;
  height:51px;
  width:80%;
  margin:auto;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right:1px solid black;
}

.menu-bar button{
  background: #0097FE;
  color:white;
  border:none;
  border-left: 1px solid black;
  border-radius: 0;
  margin:0;
  height:100%;
  z-index:1000;
}

.help-overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0 ;
  left: 0;
  background-color: rgba(0,0,0,0.4);
}

#help-cancel{
  width: 40px;
  position: fixed;
  top:1%;
  right: 2%;
}

.arrow{
  position: absolute;
  width:30px;
  z-index: 100;
  left: 22%;
}

#left-arrow,
#right-arrow{
  width:50px;
  position: absolute;
  top:40%;
}

#left-arrow{
  left: 0;
}

#right-arrow{
  right:0;
}

.name-arrow{
  top: 50%;
}

.transaction-arrow{
  top:62%;
}

.second-arrow{
  display:none;
}
.name-help,
.transaction-help,
.people-help{
  position: absolute;
  z-index: 2;
  background-color: #FFFFFF;
  border: 1px solid #0076FE;
  border-radius: 5px; 
  width: 85%;
  left: 20%;
}

.name-help{
  top:66%;
}

.transaction-help{
  top:72%;
}

.people-help{
  top:103%;
}

.people-arrow{
  top:89%;
}
.main-header{
  text-align: center;
  width:100%;
  background-color:#6995CA;
}

.main-header h1{
  color:white;
  font-size: 10em;
  margin:0;
}

.container{
  text-align: center;
  width:90%;
  margin:auto;
  min-height: calc( 100vh - 250px) ;
  height:auto;
}

input[type="text"]{
  width:60%;
  padding: 10px;
  margin:5px;
  border:none;
  border-bottom: 1px solid black;
}

.name{
  width:80%;
  margin:auto;
/*  border: 1px solid navy;
  border-radius: 15px;*/
  background-color: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

}

#name{
  display:block;
  margin:auto;
}

#holder{
  width:100%;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top:10px;
}

.transaction h4,
#input{
  width:100%;
}

h4{
  margin: 10px;
}
#input{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.user{
  width:80%;
/*  border: 1px solid black;
  border-radius: 15px;*/
  margin: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color:#FFFFFF;
}

.selected{
  box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.25);
}

.transaction{
  width: 80%;
  margin: 25px 10% 0 10%;
/*  border: 1px solid navy;
  border-radius: 15px;*/
  padding: 5px 0;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position:relative;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

}

button {
  padding: 5px 25px;
  margin:10px 0;
  background-color: #FFFFFF;
  border: 1px solid navy;
  border-radius:15px;
}

.user button{
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border:none;
  margin-top:0.75em;
}

#undo{
  height:30px;
  margin-left: 10px;
  position: absolute;
  bottom: 16px;
}

.user input[type="text"]{
  font-size:1.5em;
  padding:0;
  border:1px dashed black;
  margin-top: 0.75em;
  text-align: center;
  height:29px;
}

.user h2{
  padding-top:0.75em;
  margin:0;
}

.transaction-list{
  display:none;
  width:80%;
  margin:auto;
  border-top: 1px solid black;
}

@media(min-width: 41em){
  .user{
    width:60%;
    margin: 10px;
  }

  .user button{
    padding: 15px;
  }

  .transaction,
  .name{
    width:60%;
    margin: 25px auto;
  }

  .people-arrow{
    top:88%;
  }

  .people-help{
    top: 100%;
  }

}

@media(min-width: 50em){

  input[type="text"]{
    width: 40%;
  }

  #input{
    flex-direction: row;
    justify-content: center;
  }

  .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .name,
  .transaction{
    width: 40%;
    margin: 10px;
  }

  .name h4,
  #accept{
    margin:16px 0;
  }

  .name-arrow{
    left: 30%;
  }

  .name-help{
    top:63.5%;
    left: 28%;
  }


  .arrow{
    top:50%;
  }

  .second-arrow{
    display:block;
    left: 53%;
  }
  
  .transaction-arrow{
    left:10%;
  }

  .transaction-help{
    top: 63%;
    left: 9%;
  }

  .people-help{
    top:102%;
    width:150%;
  }

  .people-arrow{
    top: 89%;
  }
  
  .sidebar{
    width:100%;
    display:flex;
    justify-content: center;
  }

  #holder{
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    overflow: visible;
    align-items: flex-start;
  }

  .user{
    width: 45%;
  }

  .user button{
    padding: 10px;
  }

}

@media(min-width:70em){
  .sidebar{
    width: 40%;
    flex-direction: column;
  }

  .container{
    width:80%;
    margin: auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .name,
  .transaction{
    width: 90%;
  }

  #holder{
    width:60%;
  }


}
